.about-page-img {
  position: absolute;
  top: 89px;
  right: 50%;
  width: 600px;
  height: 600px;
  z-index: 2;
  overflow: hidden;
}

.about-page-text {
  position: absolute;
  top: 89px;
  left: 50%;
  width: 600px;
  height: 600px;
  background-color: rgba(48, 48, 48, 0.8);
  color: white;
  text-align: right;
  padding: 40px 60px 0 40px;
  z-index: 2;
  overflow: hidden;
}

.about-page-text h2{
  text-align: right;
  padding: 0 0 0 70px;
  font-weight: 100;
}

.about-page-img div {
  position: absolute;
  animation-duration: 1s;
  transition: 1s;
  backface-visibility: hidden;
  width: 600px;
  height: 600px;
  cursor: pointer;
}

.o {
  color: #ff6d2e;
}

.g {
  background: rgba(255, 77, 0, 0.25);
}

#flippers {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
  height: 600px;
}

div.flip {
  animation-name: doit, opacity;
}

@keyframes doit {
  0% {
    transform: rotateY(0deg) rotate(0deg) scale(1);
  }
  49.9% {
    transform: rotateY(90deg) rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotateY(270deg) rotate(0deg) scale(0.9);
  }
  100% {
    transform: rotateY(360deg) rotate(0deg) scale(1);
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
  }
  49% {
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
