.contact-page {
  width: 100%;
  overflow-y: hidden;
}

.block-highlight:before {
    background: repeating-linear-gradient(135deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3) 1px, transparent 1px, transparent 10px),                    repeating-linear-gradient(45deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3) 1px, transparent 1px, transparent 10px);
    content: "";
    position: absolute;
    height: 1000px;
    left: 0;
    top: -110px;
    width: 100%;
    z-index: 0;
}

.sl {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -350px;
  margin-right: 50px;
  width: 600px;
  height: 600px;
  transform: rotate(45deg);
  background-color: rgba(170, 170, 170, 0.9);
  color: #303030;
  overflow: hidden;
  z-index: 1;
  transition: .5s ease-in-out;
}

.sl:hover {
  background-color: rgba(170, 170, 170, 1);
  transition: .5s ease-in-out;
}

.st {
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-bottom: 133px;
  margin-left: -126px;
  width: 400px;
  height: 400px;
  transform: rotate(45deg);
  background-color: rgba(255, 109, 46, 0.8);
  z-index: 1;
  transition: .5s ease-in-out;
}

.st:hover {
  background-color: rgba(255, 109, 46, 1);
  transition: .5s ease-in-out;
}

.sr {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -198px;
  margin-left: 75px;
  width: 500px;
  height: 500px;
  transform: rotate(45deg);
  background-color: rgba(170, 170, 170, 0.9);
  color: #303030;
  overflow: hidden;
  z-index: 1;
  transition: .5s ease-in-out;
}

.sr:hover {
  background-color: rgba(170, 170, 170, 1);
  transition: .5s ease-in-out;
}

.sb {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: 113px;
  margin-right: -121px;
  width: 300px;
  height: 300px;
  transform: rotate(45deg);
  background-color: rgba(255, 109, 46, 0.9);
  color: #303030;
  z-index: 1;
  transition: .5s ease-in-out;
}

.sb:hover {
  background-color: rgba(255, 109, 46, 1);
  transition: .5s ease-in-out;
}

.rotate {
  transform: rotate(-45deg);
  margin: auto;
}

.touch {
  color: #ffffff;
  margin-top: 110px;
  margin-left: 60px;
}

.touch h3 {
  font-size: 20px;
  font-weight: lighter;
}

.email, .phone{
  width: 20px;
  margin-right: 10px;
}

#contact .node {
  stroke: white;
  stroke-width: 1.5pt;
}

#contact {
  cursor: pointer;
}

#contact .parent-link {
    fill: none;
    stroke: rgba(255, 109, 46, 1);
    stroke-width: 2px;
}
#contact .children-link {
    fill: none;
    stroke: #303030;
    stroke-width: 2px;
}

#contact-svg-container{
  position: absolute;
  transform: rotate(-45deg);
  width: 800px;
  height: 800px;
  top: -80px;
  right: -80px;
  z-index: 3;
}

#contact img {
  border-color: white;
}
