.p-skill {
  position: absolute;
  width: 700px;
  height: 700px;
  left: 50%;
  top: 50%;
  margin-top: -350px;
  margin-left: -100px;
  z-index: 2;
  font-size: 28px;
  text-align: right;
  background-color: #ff6d2e;
  color: white;
  padding: 6.5%;
}

.d-skill {
  position: absolute;
  width: 500px;
  height: 500px;
  right: 50%;
  top: 50%;
  margin-right: -100px;
  margin-top: -250px;
  z-index: 2;
  font-size: 28px;
  background-color: #303030;
  color: white;
  padding: 2%;
  padding-left: 4%;
}

.d-skill:hover .d1 {
  color: #ff6d2e;
}
