@font-face {
  font-family: 'GillSans';
  src: url('fonts/GillSans.eot?#iefix') format('embedded-opentype'),  url('fonts/GillSans.woff') format('woff'), url('fonts/GillSans.ttf')  format('truetype'), url('fonts/GillSans.svg#GillSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: absolute;
  font-family: 'GillSans', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#canvas {
  margin: 0;
  padding: 0;
  opacity: 0.07;
  z-index: -1;
}
