html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family:"GillSans";
    src: url("fonts/gillsans.ttf");
}

body {
  font-family: 'GillSans', sans-serif;
  margin: 0;
  padding: 0;
  /*background-image: linear-gradient(10deg, #bfbfbf, #ffffff);*/
  overflow: hidden;
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#canvas {
  margin: 0;
  padding: 0;
  opacity: 0.06;
  z-index: -1;
}

.center-menu{

}

body {
/*   background: #ccc;
  overflow: hidden; */
}

.container {
  width: 250px;
  height: 250px;
  -webkit-perspective: 1000px;
  -moz-perspective: 800px;
  perspective: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  opacity: .7;
  transition: all 1s;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*-webkit-animation: spin 5s ease;
  animation: spin 5s ease;*/
}

.cubeA {
  -webkit-animation: spin 5s ease;
  animation: spin 5s ease;
}

.side {
  margin: 0;
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.divider {
  background: #292929;
  height: 100px;
  width: 100px;
  left: 60px;
  top: 40px;
  margin: 0;
  display: block;
  position: absolute;
}
.dividerA{
  -webkit-animation: forward 5s linear;
  animation: forward 5s linear;
}

.side.front {
  background: #292929;
  -webkit-transform: rotateY(0deg) translateZ(100px);
  transform: rotateY(0deg) translateZ(100px);
}

.side.back {
  background: #f1f1f1;
  -webkit-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
}
.side.left {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}
.side.right {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
}
.side.top {
  background: #ffffff;
  -webkit-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
}
.side.bottom {
  background: #ffffff;
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  transform: rotateX(-90deg) translateZ(100px);
}

.panel {
  background: #ffffff;
  position: absolute;
}

.panel.bottom {
  height: 60px;
  width: 200px;
  bottom: 0;
}

.panel.left {
  height: 200px;
  width: 60px;
  left: 0;
}

.panel.right {
  height: 200px;
  width: 60px;
  right: 0;
}

.panel.top {
  height: 60px;
  width: 200px;
  top: 0;
}

.side-slice {
  background: #ffffff;
  width: 200px;
  height: 80px;
  right: 0px;
  top: 44px;
  position: absolute;
  bottom: 0;
  left: -40px;
}

.side-slice.top {
  -webkit-transform: rotateX(180deg) translateZ(-40px);
  transform: rotateX(180deg) translateZ(-40px);
}

.side-slice.left {
  background: #ffffff;
  -webkit-transform: rotateX(90deg) translateZ(-40px);
  transform: rotateX(90deg) translateZ(-40px);
}

.side-slice.right {
  background: #ffffff;
  -webkit-transform: rotateX(-90deg) translateZ(-40px);
  transform: rotateX(-90deg) translateZ(-40px);
}
.side-slice.bottom {
  -webkit-transform: rotateX(-180deg) translateZ(40px);
  transform: rotateX(-180deg) translateZ(40px);
}

@keyframes spin {
  from {
    transform: scale(1,1) rotateX(0deg) rotate(0deg) translateY(0px) translateZ(0px);
  }
  to {
    transform:  scale(2.56) rotateX(-90deg) rotate(270deg) translateY(15px) translateZ(-10px);
  }
}

@keyframes forward {
  from {
    transform: rotateY(90deg) translateZ(-20px);
  }
  to {
    transform: rotateY(90deg) translateZ(89px);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: scale(1,1) rotateX(0deg) rotate(0deg) translateY(0px) translateZ(0px);
  }
  to {
    -webkit-transform:  scale(2.56) rotateX(-90deg) rotate(270deg) translateY(15px) translateZ(-10px);
  }
}

@-webkit-keyframes forward {
  from {
    -webkit-transform: rotateY(90deg) translateZ(-20px);
  }
  to {
    -webkit-transform: rotateY(90deg) translateZ(89px);
  }
}

.henry {
  color: #ffffff;
  font-size: 60px;
  padding-top: 30%;
  padding-bottom: 30%;
  padding-left: 14%;
  padding-right: 14%;
}

.op100 {
  opacity: 1;
  transition: all 1s;
}
