@import url(https://fonts.googleapis.com/css?family=Pragati+Narrow);

@font-face {
    font-family: 'raleway-regular';
    src: url('../style/fonts/raleway-regular.eot');
    src: url('../style/fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../style/fonts/raleway-regular.woff') format('woff'),
         url('../style/fonts/raleway-regular.ttf') format('truetype'),
         url('../style/fonts/raleway-regular.svg#RalewayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'whitney';
	src: url('fonts/Whitney-Book-Bas.eot');
	src: local('☺'), url('fonts/Whitney-Book-Bas.woff') format('woff'), url('fonts/Whitney-Book-Bas.ttf') format('truetype'), url('fonts/Whitney-Book-Bas.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'lato-light';
    src: url('../style/fonts/lato-light.eot');
    src: url('../style/fonts/lato-light.eot?#iefix') format('embedded-opentype'),
         url('../style/fonts/lato-light.woff') format('woff'),
         url('../style/fonts/lato-light.ttf') format('truetype'),
         url('../style/fonts/lato-light.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

.work-page-menu {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  right: 50%;
  width: 600px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #303030;
  z-index: 2;
  padding: 130px 130px 0 0;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.work-page-menu:hover {
  background-color: rgba(255, 255, 255, 1);
  transition: .5s ease-in-out;
}


.work-page-menu ul li {
  margin: 15px 0 15px 0;
  font-size: 40px;
  text-align: right;
  transition: all .5s ease-in-out;
}

.work-menu-hover {
  color: #aaaaaa;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.ng-title {
  color: rgba(85, 173, 182, 1);
}

.ng {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  width: 600px;
  height: 600px;
  background-color: rgba(85, 173, 182, 0.8);
  z-index: 2;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.ng:hover {
  background-color: rgba(85, 173, 182, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.ng img {
  position: absolute;
  width: 800px;
  top: 100px;
  left: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.ng:hover img{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.epac-title {
  color: rgba(255, 109, 46, 1);
}

.epac {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  width: 600px;
  height: 600px;
  background-color: rgba(255, 109, 46, 0.8);
  z-index: 2;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.epac:hover {
  background-color: rgba(255, 109, 46, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.epac img {
  position: absolute;
  width: 800px;
  top: 100px;
  left: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.epac:hover img{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.vol-title {
  color: rgba(46, 204, 113, 1);
}

.vol {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  width: 600px;
  height: 600px;
  background-color: rgba(46, 204, 113, 0.8);
  z-index: 2;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.vol:hover {
  background-color: rgba(46, 204, 113, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.vol img {
  position: absolute;
  width: 800px;
  top: 100px;
  left: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.vol:hover img{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.nf-title {
  color: rgba(33, 153, 232, 1);
}

.nf {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  width: 600px;
  height: 600px;
  background-color: rgba(33, 153, 232, 0.8);
  z-index: 2;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.nf:hover {
  background-color: rgba(33, 153, 232, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nf img {
  position: absolute;
  width: 800px;
  top: 100px;
  left: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.nf:hover img{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.ymsw-title {
  color: rgba(249, 208, 33, 1);;
}

.ymsw {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  width: 600px;
  height: 600px;
  background-color: rgba(249, 208, 33, 0.8);
  z-index: 2;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.ymsw:hover {
  background-color: rgba(249, 208, 33, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.ymsw img {
  position: absolute;
  width: 500px;
  top: 100px;
  left: 130px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.ymsw:hover img{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.leaf-title {
  color: #076f4a;
}

.leaf {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  width: 600px;
  height: 600px;
  background-color: rgba(7, 111, 74, 0.8);
  z-index: 2;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.leaf:hover {
  background-color: rgba(7, 111, 74, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.leaf img {
  position: absolute;
  width: 800px;
  top: 0px;
  left: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.leaf:hover img{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.close-button {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  line-height: 50px;
  display: inline-block;
}

.close-button:before, .close-button:after {
  transform: rotate(-45deg);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -25px;
  display: block;
  height: 10px;
  width: 50px;
  background-color: #ff6d2e;
  transition: all 0.25s ease-out;
}
.close-button:after {
  transform: rotate(-135deg);
}
.close-button:hover:before, .close-button:hover:after {
  transform: rotate(0deg);
}

.title-sub {
  position: absolute;
  right: 0px;
  margin-top: -60px;
  margin-left: 10%;
  margin-right: 40%;
  font-size: 40px;
  font-weight: lighter;
}

#arrow {
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

/*------------------------------------------------------------*/


.ng-show {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #303030;
  z-index: 4;
  padding: 5%;
}

.ng-show img {
  position: absolute;
  z-index: -1;
}

.ng-show div {
  position: absolute;
}

.ng-close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 5;
}

.ng-title-show {
  color: rgba(85, 173, 182, 1);
  font-size: 80px;
}

.ng-vg {
  text-decoration: none;
  width: 50px;
  height: 50px;
  right: 60%;
  background-color: rgba(60, 60, 60, 0.8);
  transition: .5s ease-in-out;
  color: white;
  cursor: pointer;
}

.ng-vg:hover {
  background-color: rgba(60, 60, 60, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.ng-vw {
  position: absolute;
  text-decoration: none;
  font-weight: lighter;
  width: 150px;
  height: 50px;
  padding-top: 18px;
  padding-left: 20px;
  left: 40%;
  background-color: rgba(85, 173, 182, 0.8);
  transition: .5s ease-in-out;
  color: white;
  cursor: pointer;
}

.ng-vw:hover {
  background-color: rgba(85, 173, 182, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.ng-x {
  z-index: 1 !important;
  width: 60%;
  left: 5%;
  top: 400px;
}

.ng-0 {
  width: 50%;
  right: 10%;
  top: 50px;
}

.ng-s {
  font-size: 25px;
  text-align: left;
  left: 25%;
  width: 50%;
  top: 950px;
}

.ng-th {
  font-size: 20px;
  font-weight: bold;
  color: rgba(85, 173, 182, 1);
}

.ng-t1 {
  color: rgba(170, 170, 170, 1);
  font-size: 20px;
  font-weight: lighter;
  text-align: right;
  right: 50%;
  width: 30%;
  top: 1060px;
  list-style: none;
}

.ng-t1 ul{
  text-align: right;
}

.ng-t2 {
  color: rgba(170, 170, 170, 1);
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  left: 50%;
  width: 30%;
  top: 1060px;
  list-style: none;
}

.ng-1 {
  width: 90%;
  top: 1500px;
}

.ng-2 {
  width: 35%;
  left: 60%;
  top: 1500px;
  margin-top: -30%;
}

.ng-s2 {
  font-size: 20px;
  text-align: center;
  left: 17%;
  width: 70%;
  top: 1500px;
  margin-top: 50%;
}

.ng-3 {
  width: 80%;
  left: 10%;
  top: 1500px;
  margin-top: 75%;
  z-index: -3;
}

.ng-b1 {
  width: 90%;
  height: 1200px;
  left: 5%;
  top: 1500px;
  margin-top: 70%;
  background-color: rgba(233, 105, 86, 0.5);
  z-index: -2;
}

.ng-4 {
  left: 10%;
  width: 45%;
  top: 1500px;
  margin-top: 130%;
  box-shadow: 18px 18px 0px 1px #55adb6;
}

.ng-s3 {
  font-size: 18px;
  font-weight: lighter;
  text-align: justify;
  right: 10%;
  width: 32%;
  top: 1500px;
  margin-top: 130%;
}

.ng-7 {
  width: 90%;
  top: 1500px;
  left: 5%;
  margin-top: 175%;
}

.ng-c1 {
  width: 200px;
  height: 200px;
  background-color: #e96956;
  top: 1500px;
  left: 20%;
  margin-top: 240%;
  padding-top: 150px;
  text-align: right;
  font-size: 55px;
  color: white;
}

.ng-c2 {
  width: 200px;
  height: 200px;
  background-color: #55adb6;
  top: 1500px;
  left: 30%;
  margin-top: 230%;
  padding-top: 150px;
  text-align: right;
  font-size: 55px;
  color: white;
}

.ng-f1 {
  font-family: 'lato-light';
  font-size: 100px;
  top: 1500px;
  left: 45%;
  margin-top: 245%;
}

.ng-f1 h3 {
  margin-top: -20px;
  font-size: 25px;
  text-align: right;
  color: rgba(170, 170, 170, 1);
}

.ng-f2 {
  font-family: 'raleway-regular';
  font-size: 100px;
  top: 1500px;
  left: 35%;
  margin-top: 255%;
}

.ng-f2 h3 {
  margin-top: -20px;
  font-size: 25px;
  text-align: right;
  color: rgba(170, 170, 170, 1);
}

.ng-6 {
  width: 70%;
  left: 15%;
  top: 1500px;
  margin-top: 270%;
  margin-bottom: 50px;
}


.epac-show {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #303030;
  z-index: 4;
  padding: 5%;
}

.epac-show img {
  position: absolute;
  z-index: -1;
}

.epac-show div {
  position: absolute;
}

.epac-close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 5;
}

.epac-title-show {
  color: rgba(255, 109, 46, 1);
  font-size: 60px;
}

.epac-vg {
  text-decoration: none;
  width: 50px;
  height: 50px;
  right: 60%;
  background-color: rgba(60, 60, 60, 0.8);
  transition: .5s ease-in-out;
  color: white;
  cursor: pointer;
}

.epac-vg:hover {
  background-color: rgba(60, 60, 60, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.epac-vw {
  position: absolute;
  text-decoration: none;
  font-weight: lighter;
  width: 150px;
  height: 50px;
  padding-top: 18px;
  padding-left: 20px;
  left: 40%;
  background-color: rgba(255, 109, 46, .8);
  transition: .5s ease-in-out;
  color: white;
  cursor: pointer;
}

.epac-vw:hover {
  background-color: rgba(255, 109, 46, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.epac-x {
  z-index: 1 !important;
  width: 60%;
  left: 5%;
  top: 400px;
}

.epac-0 {
  width: 50%;
  right: 10%;
  top: 50px;
}

.epac-s {
  font-size: 25px;
  text-align: left;
  left: 25%;
  width: 50%;
  top: 950px;
}

.epac-1 {
  width: 50%;
  left: 10%;
  top: 1200px;
}

.epac-b1 {
  left: 10%;
  top: 1150px;
  width: 80%;
  height: 1200px;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: -2;
}

.epac-2 {
  width: 60%;
  top: 1200px;
  margin-top: 30%;
  left: 25%;
}

.epac-3 {
  width: 80%;
  top: 1200px;
  left: 10%;
  margin-top: 60%;
}

.epac-4 {
  width: 50%;
  top: 1200px;
  margin-top: 95%;
  left: 20%;
  box-shadow: 18px 18px 0px 1px rgba(111, 111, 111, 1);
}

.epac-c1 {
  width: 200px;
  height: 200px;
  background-color: #ff6400;
  top: 1200px;
  right: 20%;
  margin-top: 130%;
  padding-top: 150px;
  text-align: right;
  font-size: 55px;
  color: white;
}

.epac-c2 {
  width: 200px;
  height: 200px;
  background-color: #c9c9c9;
  top: 1200px;
  right: 30%;
  margin-top: 125%;
  padding-top: 150px;
  text-align: right;
  font-size: 55px;
  color: white;
}

.epac-f1 {
  font-family: 'raleway-regular';
  font-size: 100px;
  top: 1200px;
  right: 40%;
  margin-top: 140%;
}

.epac-f1 h3 {
  margin-top: -20px;
  font-size: 25px;
  text-align: right;
  color: rgba(170, 170, 170, 1);
}

.epac-5 {
  width: 60%;
  top: 1200px;
  margin-top: 155%;
  right: 10%;
}

.epac-6 {
  width: 60%;
  top: 1200px;
  margin-top: 190%;
  left: 10%;
  margin-bottom: 50px;
}


.vol-show {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #303030;
  z-index: 4;
  padding: 5%;
}

.vol-close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 5;
}

.vol-show img {
  position: absolute;
  z-index: -1;
}

.vol-show div {
  position: absolute;
}

.vol-close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 5;
}

.vol-title-show {
  color: rgba(46, 204, 113, 1);
  font-size: 80px;
}

.vol-vg {
  text-decoration: none;
  width: 50px;
  height: 50px;
  right: 60%;
  background-color: rgba(60, 60, 60, 0.8);
  transition: .5s ease-in-out;
  color: white;
  cursor: pointer;
}

.vol-vg:hover {
  background-color: rgba(60, 60, 60, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.vol-vw {
  position: absolute;
  text-decoration: none;
  font-weight: lighter;
  width: 150px;
  height: 50px;
  padding-top: 18px;
  padding-left: 20px;
  left: 40%;
  background-color: rgba(46, 204, 113, 0.8);
  transition: .5s ease-in-out;
  color: white;
  cursor: pointer;
}

.vol-vw:hover {
  background-color: rgba(46, 204, 113, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.vol-x {
  z-index: 1 !important;
  width: 60%;
  left: 5%;
  top: 400px;
}

.vol-s {
  font-size: 25px;
  text-align: left;
  left: 25%;
  width: 60%;
  top: 950px;
}

.vol-0 {
  width: 50%;
  right: 10%;
  top: 50px;
}

.vol-th {
  font-size: 20px;
  font-weight: bold;
  color: rgba(46, 204, 113, 1);
}

.vol-t1 {
  color: rgba(170, 170, 170, 1);
  font-size: 20px;
  font-weight: lighter;
  text-align: right;
  right: 50%;
  width: 30%;
  top: 1120px;
  list-style: none;
}

.vol-t1 ul{
  text-align: right;
}

.vol-t2 {
  color: rgba(170, 170, 170, 1);
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  left: 50%;
  width: 30%;
  top: 1120px;
  list-style: none;
}

.vol-1 {
  width: 70%;
  top: 1400px;
  left: 15%;
}

.vol-c1 {
  width: 200px;
  height: 200px;
  background-color: #2ecc71;
  top: 1400px;
  left: 20%;
  margin-top: 55%;
  padding-top: 150px;
  text-align: right;
  font-size: 55px;
  color: white;
}

.vol-c2 {
  width: 200px;
  height: 200px;
  background-color: #306166;
  top: 1400px;
  left: 30%;
  margin-top: 50%;
  padding-top: 150px;
  text-align: right;
  font-size: 55px;
  color: white;
}

.vol-f1 {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 100px;
  top: 1400px;
  left: 40%;
  margin-top: 65%;
}

.vol-f1 h3 {
  margin-top: -20px;
  font-size: 25px;
  text-align: right;
  color: rgba(170, 170, 170, 1);
}

.vol-s2 {
  font-size: 20px;
  text-align: right;
  left: 15%;
  margin-top: 80%;
  top: 1400px;
  width: 35%;
}

.vol-2 {
  width: 70%;
  top: 1400px;
  margin-top: 90%;
  left: 15%;
  margin-bottom: 50px;
}

.ymsw-show {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #303030;
  z-index: 4;
  padding: 5%;
}

.ymsw-show img {
  position: absolute;
  z-index: -1;
}

.ymsw-show div {
  position: absolute;
}

.ymsw-close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 5;
}

.ymsw-title-show {
  color: rgba(249, 208, 33, 1);
  font-size: 80px;
}

.ymsw-vw {
  position: absolute;
  text-decoration: none;
  font-weight: lighter;
  width: 150px;
  height: 50px;
  padding-top: 18px;
  padding-left: 20px;
  left: 40%;
  background-color: rgba(249, 208, 33, 0.8);
  transition: .5s ease-in-out;
  color: white;
  cursor: pointer;
}

.ymsw-vw:hover {
  background-color: rgba(249, 208, 33, 1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.ymsw-x {
  z-index: 1 !important;
  width: 60%;
  left: 5%;
  top: 400px;
}

.ymsw-s {
  font-size: 25px;
  text-align: left;
  left: 25%;
  width: 60%;
  top: 950px;
}

.ymsw-0 {
  width: 50%;
  right: 10%;
  top: 50px;
}

.ymsw-1 {
  top: 70%;
  left: 18%;
  width: 40%;
}

.ymsw-1b {
  position: absolute;
  top: 900px;
  left: 12%;
  width: 70%;
  height: 500px;
  background-color: rgba(249, 208, 34, 0.25);
  z-index: -3;
}

.ymsw-s {
  top: 100%;
  left: 60%;
  width: 30%;
}

.ymsw-2 {
  top: 1200px;
  width: 70%;
}

.ymsw-f1 {
  font-family: 'whitney';
  font-size: 100px;
  top: 1200px;
  left: 25%;
  margin-top: 50%;
}

.ymsw-f1 h3 {
  margin-top: -20px;
  font-size: 25px;
  text-align: right;
  color: rgba(170, 170, 170, 1);
}

.ymsw-c1 {
  width: 200px;
  height: 200px;
  background-color: #f9d022;
  top: 1200px;
  left: 5%;
  margin-top: 50%;
  padding-top: 150px;
  text-align: right;
  font-size: 55px;
  color: white;
}

.ymsw-3 {
  top: 1200px;
  right: 5%;
  margin-top: 70%;
  width: 60%;
}

.ymsw-4 {
  top: 1200px;
  left: 5%;
  margin-top: 100%;
  width: 40%;
  box-shadow: 15px 15px 0px 1px #f9d022;
}

.ymsw-5 {
  top: 1200px;
  right: 5%;
  margin-top: 130%;
  width: 60%;
}

.ymsw-7b {
  position: absolute;
  top: 1200px;
  left: 5%;
  margin-top: 150%;
  width: 400px;
  height: 400px;
  background-color: #f9d022;
  z-index: -3;
}

.ymsw-7 {
  top: 1200px;
  left: 5%;
  margin-top: 150%;
  width: 40%;
}

.ymsw-8a {
  top: 1200px;
  right: 5%;
  margin-top: 161%;
  width: 23%;
}

.ymsw-8b {
  top: 1200px;
  right: 29%;
  margin-top: 161%;
  width: 23%;
}

.ymsw-9 {
  top: 1200px;
  left: 5%;
  margin-top: 190%;
  width: 80%;
}

.ymsw-10 {
  top: 1200px;
  right: 5%;
  margin-top: 235%;
  margin-bottom: 50px;
  width: 80%;
}
